<html>

<head><link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"></head>
<body>

<div style="background-color:#282828; margin-left: 1px; border:1px #CC0066 solid;  ">

  <h1>ระบบห้องซ้อมดนตรี</h1>
</div>
<mat-tab-group>
  <mat-tab label="หน้าหลัก"></mat-tab>
  <mat-tab label="จองห้องซ้อม"></mat-tab>
  <mat-tab label="เช่าอุปกรณ์ดนตรี"></mat-tab>
  <mat-tab label="ชำระเงิน"><app-payonline></app-payonline></mat-tab>
  <mat-tab label="แจ้งอุปกรณ์ชำรุด"></mat-tab>
  <mat-tab label="ระบบรีวิว"></mat-tab>
  <mat-tab label="เข้าสู่ระบบ"></mat-tab>
  <mat-tab label="สมัครสมาชิก"></mat-tab>
</mat-tab-group>






</body>
</html>
